@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
