.InputField {
    background-color: #f1f1f1;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #333;
    padding: 8px 16px;
    border-radius: 24px;
    text-align: center;
    outline: none;
    /*border: 1px solid rgba(200, 200, 200, .2);*/
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .25), inset 1px 1px 1px rgba(0, 0, 0, .22), inset -3px -3px 6px rgba(255, 255, 255, .5), inset -3px -3px 3px rgba(255, 255, 255, .44);
}

.InputField:focus {
    border: 2px solid #2979ff;
    padding: 6px 14px;
}
