.SignUp {
    padding: 16px;
    background-color: #f1f1f1;
    width: 400px;
    height: 400px;
    border-radius: 24px;
    border: 1px solid rgba(200, 200, 200, .2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .25), 7px 7px 7px rgba(0, 0, 0, .22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}
