.CustomButton {
    background-color: #f2f2f2;
    cursor: pointer;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #333;
    padding: 8px 16px;
    border-radius: 24px;
    text-align: center;
    outline: none;
    border: 1px solid rgba(190, 190, 190, .2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .25), 1px 1px 1px rgba(0, 0, 0, .22), -3px -3px 6px rgba(255, 255, 255, .5), -3px -3px 3px rgba(255, 255, 255, .44);
    transition: box-shadow .075s;
}

.CustomButton:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, .25), 0 0 0 rgba(0, 0, 0, .22), 0 0 0 rgba(255, 255, 255, .50), 0 0 0 rgba(255, 255, 255, .44);
}

.CustomButton:hover {
    /*text-decoration: underline;*/
    border: 2px solid #2979ff;
    padding: 7px 15px;
}
